### CXX_FLAGS
build --per_file_copt external/.*@-g0,-O3,-fno-sanitize=all,-fexceptions
build:clang --per_file_copt external/.*@-Wno-everything,-ftrivial-auto-var-init=uninitialized
build --copt -Werror
build --copt -fno-exceptions
build --copt -ftemplate-backtrace-limit=0
build:clang --copt -ftrivial-auto-var-init=pattern
#build:clang --copt -stdlib=libc++

### DIAGNOSTICS
build:clang  --copt -Weverything
# Disables C++98 to C++17 compatibility enforcement
build:clang  --copt -Wno-c++98-compat-pedantic
# Re-enable, as it is disabled by the previous one
build:clang  --copt -Wc++98-compat-extra-semi

build --copt -Wall
build --copt -Wextra
build --copt -Wpedantic
# This is failing on the `consteval` keyword for some reason
build --copt -Wno-c++20-compat
# Need stdlib uprev, as even std::vector triggers this
build --copt -Wno-ctad-maybe-unsupported
# Has false positives
# https://bugs.llvm.org/show_bug.cgi?id=18733
# https://stackoverflow.com/questions/56041900/why-does-explicit-template-instantiation-result-in-weak-template-vtables-warning
build:clang --copt -Wno-weak-template-vtables
#
build:clang --copt -Wno-global-constructors
build --copt -Wno-padded
# due to gtest
build:clang --copt -Wno-exit-time-destructors
build:clang --copt -Wno-used-but-marked-unused
#
build:clang --copt -Wno-poison-system-directories
